{
    "presets": [ "env", "react", "stage-0"],
     "plugins": [
        ["import", { "libraryName": "antd-mobile", "libraryDirectory": "lib", "style": "css" }],
        "transform-class-properties",
        "transform-runtime"
     ]
}