.talkingWrapper {
   width: 94%;
    padding: 10px 1%;
    margin: 6px auto;
    display: -ms-flexbox;
    background: #fff;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    height: 100px;
    color: #000;
}

.leftImg {
    width: 30%;
    height: 100%;
}

.leftImg img {
    width: 100%;
    height: 100%;
}

.commentImg img {
    width: 15px;
    height: 15px;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding:0 3%;
}

.comment {
    height: 15px;
    display: flex;
    justify-content: space-between;
    line-height: 15px;
}

.addtime {
    font-size: 12px;
    color: gray;
    height: 15px;
    line-height: 10px;
}

.commentNum {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.commentText {
    font-size: 15px;
    line-height: 18px;
    color: cornflowerblue;
}

.mainContent {
    width: 100%;
    line-height: 14px;
    overflow: hidden;
    font-size: 18px;
    height: 72px;
}